<table>
    <tr>
        <th>Symbol</th>
        <th>Company name</th>
        <th>Shares</th>
        <th>Cost price</th>
        <th></th>
        <th></th>
    </tr>
    <% @stock.each do |stock| %>
        <tr>
            <td><%= stock.stock_symbol %></td>
            <td><%= stock.stock_name %></td>
            <td><%= stock.shares %></td>
            <td><%= stock.stock_price %></td>
            <td>Buy</td>
            <td>Sell</td>
        </tr>
    <% end %>
</table>
<%= @test %>
<%= @new %>
<%= @new2 %>