<%= @company_name %> <%= @stock_symbol %>

<%= form_with model: @stock do |form| %>
  <table>
    <tr>
        <td><%= form.label :company_name %></td>
        <td><%= form.text_field :stock_name, value: @company_name, :readonly => true %>
    </tr>
    <tr>
        <td><%= form.label :symbol %></td>
        <td><%= form.text_field :stock_symbol, value: @stock_symbol, :readonly => true %></td>
    </tr>
        <tr>
        <td><%= form.label :price %></td>
        <td><%= form.text_field :stock_price, value: @price, :readonly => true %></td>
    </tr>
  </table>

  <div class="field">
      <%= form.label :shares, 'Enter number of shares' %>
      <%= form.number_field :shares %>
      <div class="actions">
        <%= form.submit 'Buy' %>
      </div>
  </div>

<% end %>