<div class="form-container">
        <h1> Quote </h1>
        <%= form_with model: @stock do |form| %>
        <div class="field">
            <label class="label"><%= form.label "Enter the stock symbol" %></label>
            <div class="control">
                <%= form.text_field :stock_symbol, class: "input is-s", placeholder: "ex. AMZN, GOOGL, AAPL, MSFT" %>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <p>
                    <%= form.submit "Search Quote", class: "button is-link" %>
                </p>
                <p>
                    <%= link_to "Back", stocks_path, class: "button is-link" %>
                </p>
            </div>
        </div>
    </div>
<% end %>